.faq-lista {
  grid-column: 3/4;
  margin-bottom: 80px;
}

.faq-lista dt {
  font-family: 'IBM Plex Mono';
  font-weight: bold;
  color: var(--corp02);
  margin: 32px 0 8px 0;
}

.faq-lista dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  background-color: var(--corp01);
  margin-right: 10px;
}

.faq-lista dd {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 30px;
}

.js [data-accordion] dd {
  display: none;
}

[data-accordion] dt::after {
  content: ' ▲';
}

[data-accordion] dt.active::after {
  content: ' ▼';
}

[data-accordion] dt.active + dd {
  display: block;
  animation: slideDown .5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}

@media (max-width: 700px) {
  .faq {
    padding: 20px;
  }
  .faq-lista {
    grid-column: 1/-1;
    margin-bottom: 40px;
  }
} 
