* {
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #FAF6ED;
  font-family: Helvetica, Arial, sans-serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

.estrutura {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.header {
  grid-column: 3 / -1;
  background-color: #FFBB55;
  margin: 30px 0;
}

.header nav ul {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.header nav ul a {
  color: black;
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: .1rem;
}

.principal {
  grid-column: 2 / 4;
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 20px;
}

.principal section {
  margin-bottom: 4rem;
}

.principal h1 {
  grid-column: span 3;
  font-family: 'Playfair Display SC', georgia;;
  font-weight: normal;
  font-size: 6rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.animais-lista {
  grid-column: 2;
  height: 370px;
  overflow-y: auto;
}

.animais-lista::-webkit-scrollbar {
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
  background-color: #FB5;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

.animais-lista img {
  display: block;
}

.animais-descricao div {
  margin-bottom: 3rem;
}

.animais-descricao h2 {
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  font-size: 1rem;
  color: #E54;
  letter-spacing: .1rem;
  margin-bottom: 16px;
}

.animais-descricao h2:before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  background-color: #FB5;
  margin-right: 10px;
}

.animais-descricao p {
  margin-bottom: 16px;
}

.faq-lista {
  grid-column: 2 / -1;
}

.faq-lista dt {
  font-family: 'IBM Plex Mono', monospace;
  color: #E54;
  margin-top: 32px;
}

.faq-lista dt:before, .contato .dados li:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  background-color: #FB5;
  margin-right: 10px;
}

.faq-lista dd {
  margin: 10px 30px;
}

.mapa {
  grid-column: 2;
}

.contato ul li + li {
  margin-top: 16px;
}

.footer {
  grid-column: 3 / -1;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  background-color: #FFBB55;
  margin-bottom: 30px;
  padding: 20px;
}

@media (max-width: 700px) {
  .header {
    margin-top: 0;
  }

  .estrutura {
    grid-template-columns: 1fr;
  }

  .header, .principal, .footer{
    grid-column: 1;
  }

  .faq-lista, .mapa, .dados {
    grid-column: 1 / -1;
  }

  .estrutura h1 {
    font-size: 3rem;
  }

  .container {
    grid-template-columns: 100px 1fr;
    gap: 0;
  }

  .animais-lista {
    grid-column: 1;
  }

  .animais-descricao {
    margin-left: 20px;
  }

  .footer {
    margin: 0;
  }
}